@model IEnumerable<GettingStarted.Models.Course>

@{
    ViewData["Title"] = "CourseList";
}

<h1>Course List</h1>

<p>
    <a asp-action="CreateCourse">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                <a asp-action="EditCourse" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="GetDetails" asp-route-id="@item.Id">Details</a> |
                <a asp-action="DeleteCourse" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
